.content {
    margin: 20px;
}

.title {
    text-align: center;
    letter-spacing: 1;
    text-transform: capitalize;
    line-height: 1.5;
}

h2 {
    color: #006EB6;
}

.logo {
    size: 150px;
}

