.content {
    margin-left: 450px;
    margin-right: 450px;
    font-family: 'Times New Roman', Times, serif; 
}

.title {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 0px;
}

.dark {
    background-color: #333;
    color: white;
}
.dark h2 {
    color: rgb(160, 212, 237);
}

h2 {
    color: #006EB6;
    font-size: 13px;
    margin-bottom: 0.5px;
}

.line {
    border: none;
    border-top: 0.15px solid black;
    margin-top: 0px;
    margin-bottom: 40px;
}

.main-text {
    letter-spacing: .5px;
    line-height: 20px;
}

ol li {
    margin-bottom: 15px;
}

.does-list {
    line-height: 20px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
    padding-top: 25px;
}